body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: sans-serif;
}

.grid-container {
    width: 1024px;
    height: 512px;
    background-color: #1c290e;
}

.overlay-container {
    width: 1024px;
    height: 512px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0);
    pointer-events: none;
    transition: all 1s ease 0s;
}

.visible {
    pointer-events: all;
    background-color: rgba(0,0,0,1);
}

.popup-overlay {
    pointer-events: all;
    background-color: rgba(0,0,0,0.8);
}

.start-button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    font-family: "Arial Black";
    background-color: cadetblue;
}

.restart-button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    font-family: "Arial Black";
    background-color: darkred;
}

.win-button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    font-family: "Arial Black";
    background-color: darkolivegreen;
}

.popup-container {
    width: 512px;
    height: 384px;
    position: absolute;
    left: 256px;
    top: 64px;
    background-image: url("../img/popup.png");
    font-family: sans-serif;
    color: #1a0609;
}

.popup-container h2 {
    color: black;
}

p.make-step {
    font-size: 18px;
    width: 256px;
    height: 64px;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /
}

p.leave-live {
    font-size: 18px;
    width: 256px;
    height: 64px;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /
}

.menu-container {
    width: 1024px;
    height: 128px;
    background-color: #0f2d16;
}

.live-container {
    width: 384px;
    height: 128px;
}

.live-indicator-heart {
    width: 128px;
    height: 128px;
    position: absolute;
    background-position-y: -32px;
    background-image: url("../img/heart-top.png");
}

.heart-container {
    width: 128px;
    height: 256px;
    position: absolute;
    background-image: url("../img/heart-map.png");
}

.menu-button {
    width: 256px;
    height: 64px;
    position: absolute;
    background-image: url("../img/button.png");
}

.red-tint {
    filter: hue-rotate(90deg);
}

.grid-tile {
    width: 128px;
    height: 64px;
    position: absolute;
    /*background-image: url("../img/grass02.png");*/
}

.hidden {
    display: none;
}

.exit-container {
    width: 128px;
    height: 256px;
    position: absolute;
    background-image: url("../img/exit.png");
}

.hero-container {
    width: 128px;
    height: 256px;
    position: absolute;
    background-image: url("../img/hero.png");
    transition: all 0.1s ease 0s;
}

.enemy-container {
    width: 128px;
    height: 256px;
    position: absolute;
    background-image: url("../img/enemy.png");
    transition: all 0.1s ease 0s;
}

@keyframes changeBg
{
    0%   {background-image: url("../img/arr_0001.png");}
    20%  {background-image: url("../img/arr_0002.png");}
    40%  {background-image: url("../img/arr_0003.png");}
    60%  {background-image: url("../img/arr_0004.png");}
    80%  {background-image: url("../img/arr_0005.png");}
    100% {background-image: url("../img/arrow.png");}
}

.arrow-container {
    width: 128px;
    height: 256px;
    position: absolute;
    animation: changeBg 1s infinite;
}

.cross {
    width: 128px;
    height: 64px;
    position: absolute;
    background-image: url("../img/cross.png");
}