body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.grid-container {
    width: 1024px;
    height: 512px;
    background-color: #336699;
}

.overlay-container {
    width: 1024px;
    height: 512px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0;
    pointer-events: none;
    transition: all 1s ease 0s;
}

.visible {
    pointer-events: all;
    opacity: 1;
}

.menu-container {
    width: 1024px;
    height: 128px;
    background-color: #ffffff;
}

.live-container {
    width: 384px;
    height: 128px;
    background-color: #ccaa22;
}

.live-indicator-heart {
    width: 128px;
    height: 128px;
    position: absolute;
    background-position-y: -32px;
    background-image: url("../img/heart-top.png");
}

.menu-button {
    width: 256px;
    height: 64px;
    position: absolute;
    background-image: url("../img/button.png");
}

.grid-tile {
    width: 128px;
    height: 64px;
    position: absolute;
    /*background-image: url("../img/grass02.png");*/
}

.hidden {
    display: none;
}

.exit-container {
    width: 128px;
    height: 256px;
    position: absolute;
    background-image: url("../img/exit.png");
}

.hero-container {
    width: 128px;
    height: 256px;
    position: absolute;
    background-image: url("../img/hero.png");
    transition: all 0.1s ease 0s;
}

.enemy-container {
    width: 128px;
    height: 256px;
    position: absolute;
    background-image: url("../img/enemy.png");
    transition: all 0.1s ease 0s;
}

@keyframes changeBg
{
    0%   {background-image: url("../img/arr_0001.png");}
    20%  {background-image: url("../img/arr_0002.png");}
    40%  {background-image: url("../img/arr_0003.png");}
    60%  {background-image: url("../img/arr_0004.png");}
    80%  {background-image: url("../img/arr_0005.png");}
    100% {background-image: url("../img/arrow.png");}
}

.arrow-container {
    width: 128px;
    height: 256px;
    position: absolute;
    animation: changeBg 1s infinite;
}

.cross {
    width: 128px;
    height: 64px;
    position: absolute;
    background-image: url("../img/cross.png");
}